extends layout

 
block content
 
  ul
    li 
      a(href="#home1",class="active") home1
    li 
      a(href='#home2') home2
    li(style="float:right")
      a(href='#home3') #{name} 

  h1= title
  p Welcome to #{title}
  
 
  div(id="home2")
    p Postpage
  div(id="Inputfields")
    form(method="POST", action="/users")
      
      p Name
        input(type="text", name="name9")
      p
        input(type="submit", value="Add name")



        
  
 
  
  
